body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    border-color: #66a6ff;
    outline: none;
}

button {
    width: 100%;
    background: #66a6ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4a90e2;
}
.main-title {
    text-align: center;
    font-size: 40px;        /* EXTRA BIG */
    font-weight: bold;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background: #1f2a44;
    height:60px;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #66a6ff;
}
   